.navbar {
    display: flex;
    align-items: center;
    background-color: #131313;
    padding: 10px 20px;
}

.banner {
    color: white;
    flex: 20%;
}

.chat,
.practice,
.solve {
    background-color: #1C1C1C;
    color: #6A6A6A;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px;
}

.active {
    background-color: #6A6A6A !important;
}

.grayCircle {
    background-color: #6A6A6A;
    color: #1C1C1C;
    padding: 20px 20px;
    border-radius: 100%;
    margin: 10px 0;
}

.space {
    flex: 100%;
}

.link {
    color: white;
    text-decoration: none;
}