@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.uploadbackground {
  display:flex;
  flex-direction: row;
  font-family: Oxygen;
  font-weight: lighter;
  height: 100%;
}

.uploadbackgroundcentering {
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #1C1C1C;
  height:500px;
  width:100%;
  padding-bottom: 25%;
}

.title {
  color: white;
  font-size:10px;
  padding-top:30px;
  padding-bottom:30px;
}

.uploadbox {
  background-color: #313131;
  color: #616161;
  font-size: 30px;
  height:100%;
  width:70%;
  border-radius: 50px;
  padding-top: 2%;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  padding-bottom:30%;
}

.buttonContainer {
  margin-top: 60px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  
}

.uploadbutton {
  background-color: #616161;
  color:white;
  height:50px;
  width:100px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  border-style: none;
  border-radius: 5px;
  padding-top:15px;
  margin-top:50px;
  
}